.IngredientsBox {
}

.IngredientsList {
}
.IngredientsList h3 {
}
.IngredientsList ul {
  list-style: none;
  list-style-position: inside;

  counter-reset: recipeCount;
}
.IngredientsList ul li {
  counter-increment: recipeCount;
  margin-bottom: 5px;
}
.IngredientsList ul li::before {
  content: counter(recipeCount) ".";
  margin-right: 1rem;
}
.RecipeIngredientsSelect {
  margin-top: 1.8rem;
}
.RecipeIngredientsSelect > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.RecipeIngredientsSelect > div > * {
  /* flex: 1; */
  text-align: center;
}

.RecipeIngredientsSelect label {
  display: block;
  width: 100%;
  font-weight: bold;
}

.RecipeIngredientsSelect select,
.RecipeIngredientsSelect input {
  padding: 1rem;
  display: inline-block;
  flex: 1;
  border: 1px solid rgba(51, 51, 51, 0.3);
}
.RecipeIngredientsSelect input {
  width: 50px;
}

.MultiplierSign {
  padding: 0 1rem;
}

.amountTypeBox {
  padding: 0 1rem;
  min-width: 55px;
}

.RecipeIngredientsSelect > div > button {
  padding: 1rem 2rem;
  height: 100%;
  width: 200px;
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

.AddIngredientBtn {
  width: 100%;
  text-align: center;
  margin-top: 1.8rem;
  position: relative;
}
.AddIngredientBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50%);
  width: 100%;
  height: 1px;
  background: var(--primary-color);
  z-index: -1;
}

.AddIngredientBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color);
  background: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
}
.AddIngredientBtn span:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
