.RecipeDetailsWrapper {
  display: flex;
  /* align-items: center; */
}
.DetailsBox {
  width: 50%;
  margin: 1.8rem;
}
.DetailsDeleteBtn {
  width: 100%;
  max-width: 32rem;
  padding: 1rem 2rem;
  background: var(--danger-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
}
