.InputField {
  width: 100%;
  margin-bottom: 3.6rem;
}
.InputField:last-of-type {
  margin-bottom: 0;
}
.InputField label {
  display: block;
  font-weight: bold;
}
.InputField input {
  width: 100%;
  padding: 1rem;
   border: 1px solid rgba(51, 51, 51, 0.3);
}
